*.*~
*.DS_Store
*.box
*.log
*.pyc
*.sqlite3

__pycache__/
.coverage
.*_cache/
.vscode/
coverage.xml
dist/
htmlcov/
node_modules/
site/
venv/

templates/**/.serverless/
templates/**/package-lock.json
templates/**/poetry.lock
